 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body, html {
      height: 100%;
      font-family: 'Arial', sans-serif;
    }
.form {
    display: flex;
}
.img img {
    width: 55vw;
    height: 100vw;
}
.right {
 padding: 60px 90px;
}

.right h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.right h3 {
    margin-bottom: 30px;
    font-weight: normal;
}
.form-item {
    margin-bottom: 20px;
   
  
}
.form-input input,
.form-input textarea,
.form-input select {
  border-radius: 5px;
 width: 100%;
 height: 40px;
 font-family: 'Arial', sans-serif;
}
label {
    display: block;
    margin-bottom: 8px
}
.checkbox-container {
    margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px 30px; 
}
.form-input textarea {
    height: 100px;
    resize: none;
}
.text a {
    color: purple;
    text-decoration: none;
}
.checkbox-container input[type="checkbox"] {
  transform: scale(1.3); 
  margin-right: 8px;     
  margin-left: 3px;
}
button {
    width: 100%;
    height: 40px;
    background-color: purple;
    color: white;
    border-radius: 5px;
}
